@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 20px 12px;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 18px;
}

nav ul li a:hover {
    color: gray;
}

.logo {
    color: white;
    font-size: 23px;
}

.container {
    min-height: 200vh;
    max-width: 80vw;
    margin: auto;
}

.container h1 {
    margin: 23px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    font-size: 25px;
    margin-bottom: 15px;
}

.container form input[type="number"],
select {
    font-size: 22px;
    margin: 20px 0;
    width: 25vw;
}

.btn {
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid gray;
    width: 110px;
    font-size: 17px;
}

table {
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
}

.output {
    display: none;
}

.output h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 23px 0;
}

.output table th{
    padding:5px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 13px;
    margin-top:40px;
    padding: 12px;

}


@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        font-size: 15px;
    }

    nav ul {
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin-top: 12px;
    }

    .container {
        max-width: 95vw;
    }

    .container form input[type="number"],
    select {
        width: 80vw;
    }
}